#bg1{
    background: -webkit-linear-gradient(bottom, rgb(7, 7, 14), grey);
    background-repeat: no-repeat;
}
#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 470px;
    margin: 1rem auto 8.1rem auto;
    width: 400px;
}
#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
.underline-title {
    background: -webkit-linear-gradient(right, #000000, #53a777);
    height: 2px;
    margin: -0.1rem auto 0 auto;
    width: 89px;
}
.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
.form-border {
    background: -webkit-linear-gradient(right, #000000, #53a777);
    height: 1px;
    width: 100%;
}
label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}
#forgot-pass {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
    margin-left: 8rem;
}

/* button */

#signup {
    color: #53a777;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    /* margin-top: 16px; */
    text-align: center;
}
#submit-btn {
    background: -webkit-linear-gradient(right, #000000, #53a777);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #000000;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    /* margin-top: 50px; */
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #000000;
}